<footer>
    <section id="mailinglist">
        <h3>Mailing List</h3>
        <form action="">
            <fieldset>
                <label for="email">Email:</label>
                <input name="email" type="email" value="" placeholder="you@domain.com"/>
            </fieldset>
            <input name="" type="submit" value=""/>
        </form>
    </section>
    <section id="info">
        <h3>Info</h3>
        <p>Want to become a sponsor?</p>
        <p><a href="">Get our prospectus.</a></p>
    </section>
    <section id="contact">
        <h3>Contact</h3>
        <ul>
            <li><a href="">Email</a></li>
            <li><a href="">@elm-conf</a></li>
            <li><a href="">#ElmConf</a></li>
        </ul>
    </section>
</footer>
    </body>
</html>
