<footer>

	<section id="mailinglist">
		<ul>
			<li><h3>Mailing List</h3></li>
			<li>
				Subscribe to our mailing list to be notified of sale and CFP dates,
				as well as pre-conference training goodies.
			</li>
			<li>
				<form action="">
					<fieldset>
						<label for="email">Email:</label>
						<input name="email" type="email" value="" placeholder="you@domain.com"/>
					</fieldset>
					<input name="" type="submit" value="Subscribe"/>
				</form>
			</li>
		</ul>
	</section>

	<section id="info">
		<ul>
			<li><h3>Sponsorship</h3></li>
			<li>
				Want to become a sponsor? See the <a
					href="http://thestrangeloop.com/prospectus.html">Strange Loop
					prospectus page</a> under "Elm Preconference Sponsorship".
			</li>
		</ul>
	</section>

	<section id="contact">
		<ul>
			<li><h3>Contact</h3></li>
			<li><a href="mailto:{{.Site.Params.email}}">Email</a></li>
			<li><a href="https://twitter.com/{{.Site.Params.twitter}}">@{{.Site.Params.twitter}}</a></li>
			<li><a href="https://twitter.com/search?q={{.Site.Params.twitter_hashtag}}">{{.Site.Params.twitter_hashtag}}</a></li>
		</ul>
	</section>

	</footer>
</body>
</html>
