<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{.Site.Title}}</title>
        <link href="/css/reset.css" rel="stylesheet"/>
        <link href="/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav id="mainnav">
                <div class="brand">
                    <a href="/"><div class="conf-logo-small">{{.Site.Title}} Home</div></a>
                </div>
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/speaker/">Speakers</a></li>
                    <li><a href="/sponsor/">Sponsors</a></li>
                </ul>
            </nav>
        </header>
