<html>
    <head>
        <title>{{.Site.Title}}</title>
        <link href="/css/reset.css" rel="stylesheet"/>
        <link href="/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav id="mainnav">
                <a href="/" class="logo"><img alt="{{.Site.Title}} Home" src="logo.png"/></a>
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/speaker/">Speakers</a></li>
                    <li><a href="/sponsor/">Sponsors</a></li>
                </ul>
            </nav>
        </header>
