@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

a.button {
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 2px solid #81CF47;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
  text-align: center; }

@media screen and (min-width: 50em) {
  a.button + a.button {
    margin-left: 20px; } }

body {
  background: #313540; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }

.solo {
  text-align: center;
  padding: 60px 0;
  font-size: 1.1em;
  background-color: #5C6378; }
  header + .solo {
    background-color: #7D8497; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #FCFCFC; }

a {
  color: #81CF47;
  text-decoration: none; }

p {
  margin-bottom: 20px;
  letter-spacing: 1px; }
  p:last-child {
    margin-bottom: 0; }

h2 {
  letter-spacing: 2px; }

h1, h2 {
  text-transform: uppercase;
  margin-bottom: 10px; }

strong {
  font-weight: bold; }

header > nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  header > nav::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 50em) {
    header > nav .brand {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      header > nav .brand:last-child {
        margin-right: 0; } }
  header > nav ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    header > nav ul:last-child {
      margin-right: 0; }
    header > nav ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      header > nav ul li:last-child {
        margin-right: 0; }
  @media screen and (min-width: 50em) {
    header > nav ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      header > nav ul:last-child {
        margin-right: 0; }
      header > nav ul li {
        float: left;
        display: block;
        margin-right: 10.1484%;
        width: 26.56773%; }
        header > nav ul li:last-child {
          margin-right: 0; } }

header {
  background-color: #5C6378;
  line-height: 60px;
  color: #FCFCFC; }
  @media screen and (min-width: 50em) {
    header {
      height: 60px; } }
  header a {
    color: #FCFCFC;
    text-decoration: none; }
  header > nav > ul > li {
    text-align: center; }
  header .brand {
    padding-top: 7px;
    text-align: center; }
    header .brand .conf-logo-small {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center; }
    @media screen and (min-width: 50em) {
      header .brand .conf-logo-small {
        width: 180px; } }

.conf-logo-small {
  background-image: url("/images/logos/logo-light-small.png");
  width: 180px;
  height: 40px;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .conf-logo-small {
      background-image: url("/images/logos/logo-light-small_2x.png");
      background-size: 180px 40px; } }

.conf-logo {
  background-image: url("/images/logos/logo-light.png");
  width: 539px;
  height: 120px;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .conf-logo {
      background-image: url("/images/logos/logo-light_2x.png");
      background-size: 539px 120px; } }

.elm-logo {
  background-image: url("/images/logos/elm.png");
  width: 250px;
  height: 250px;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .elm-logo {
      background-image: url("/images/logos/elm_2x.png");
      background-size: 250px 250px; } }

#hero {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: url("/images/backgrounds/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 50em) {
    #hero {
      padding-top: 180px;
      padding-bottom: 140px; } }
  #hero h1 > .conf-logo {
    margin: 0 auto 20px auto;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #hero p {
    font-size: 1.3em;
    line-height: 20px; }
  #hero a.button {
    margin-bottom: 20px; }

#about {
  background-color: #5C6378;
  padding: 100px 2em; }
  #about .elm-logo {
    float: right;
    box-shadow: 0 0 40px 0 rgba(49, 53, 64, 0.7);
    margin-left: 40px;
    display: none; }
    @media screen and (min-width: 50em) {
      #about .elm-logo {
        display: inline; } }

@media screen and (min-width: 50em) {
  #cfp > .content > * {
    margin-left: 34.11922%; } }

#cfp {
  align-items: center;
  background-color: #7D8497;
  background-image: url("/images/backgrounds/cfp.jpg");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em; }
  @media screen and (min-width: 50em) {
    #cfp {
      background-size: cover;
      background-position: left;
      justify-content: flex-end;
      padding-bottom: 300px;
      padding-top: 300px; } }
  #cfp .content {
    text-align: left; }
    #cfp .content a.button {
      margin-bottom: 20px;
      display: block; }
      @media screen and (min-width: 50em) {
        #cfp .content a.button {
          display: inline-block; } }

#keynote {
  background-color: #5C6378; }

#sponsors {
  background-color: #7D8497; }
  #sponsors h2, #sponsors li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    #sponsors h2:last-child, #sponsors li:last-child {
      margin-right: 0; }

#sponsors {
  padding-top: 60px;
  padding-bottom: 60px; }
  #sponsors h2, #sponsors li {
    line-height: 60px; }

.logo-asteris {
  background-image: url("/images/logos/asteris.png");
  width: 350px;
  height: 82px;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .logo-asteris {
      background-image: url("/images/logos/asteris_2x.png");
      background-size: 350px 82px; } }

.logo-asteris.small {
  background-image: url("/images/logos/asteris.png");
  width: 175px;
  height: 41px;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .logo-asteris.small {
      background-image: url("/images/logos/asteris_2x.png");
      background-size: 175px 41px; } }

#sponsors li > .logo-asteris.small {
  margin-top: 9px; }

@media screen and (min-width: 50em) {
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    footer::after {
      clear: both;
      content: "";
      display: table; }
    footer section {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 26.56773%; }
      footer section:last-child {
        margin-right: 0; }
    footer label {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 26.56773%; }
      footer label:last-child {
        margin-right: 0; }
    footer input {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 63.28387%; }
      footer input:last-child {
        margin-right: 0; }
    footer input[type=submit] {
      margin-left: 36.71613%; } }
footer {
  padding: 60px 1.618em;
  width: 100%; }
  @media screen and (min-width: 50em) {
    footer {
      padding: 80px 0; } }
  footer h3 {
    margin-bottom: 20px;
    text-transform: uppercase; }
  footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  footer li {
    list-style: none;
    margin-bottom: 20px; }

#mailinglist fieldset {
  padding-bottom: 20px; }
#mailinglist label {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px; }
#mailinglist input {
  background-color: #191C25;
  border: 1px solid #33363D;
  padding: 10px;
  font-size: 1em;
  color: white; }
  #mailinglist input:focus, #mailinglist input[type=submit] {
    border-color: #81CF47; }
  #mailinglist input::placeholder {
    color: red; }
  #mailinglist input[type=submit] {
    color: #81CF47;
    text-transform: uppercase; }

.speaker {
  display: block; }
  .speaker::after {
    clear: both;
    content: "";
    display: table; }

#cfp-hero > .content > * {
  margin-left: 34.11922%; }

#cfp-hero {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #7D8497;
  background-image: url("/images/backgrounds/speakers.jpg");
  background-size: cover; }

.speaker {
  padding: 80px 2em; }
  .speaker:nth-child(odd) {
    background-color: #5C6378; }
  .speaker:nth-child(even) {
    background-color: #7D8497; }
  .speaker img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex; }
    @media screen and (min-width: 50em) {
      .speaker img {
        float: left;
        margin-right: 40px; } }
  .speaker h2 {
    text-transform: none; }
  .speaker.big img {
    display: block;
    float: none;
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }

.sponsor {
  display: block; }
  .sponsor::after {
    clear: both;
    content: "";
    display: table; }
  .sponsor .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .sponsor .logo:last-child {
      margin-right: 0; }
  .sponsor .about-sponsor {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .sponsor .about-sponsor:last-child {
      margin-right: 0; }

.sponsor {
  padding-top: 60px;
  padding-bottom: 60px; }
  .sponsor:nth-child(odd) {
    background-color: #5C6378; }
  .sponsor:nth-child(even) {
    background-color: #7D8497; }
  .sponsor .logo {
    display: flex;
    justify-content: center;
    padding-top: 30px; }

#about-hero {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("/images/backgrounds/about.jpg");
  background-position: center;
  background-size: cover; }
  #about-hero .elm-logo {
    float: left;
    margin-right: 40px; }

#about-content {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #5C6378; }
  #about-content ul {
    padding-left: 20px;
    list-style-type: disc;
    padding-bottom: 20px; }
    #about-content ul li {
      line-height: 20px;
      padding-bottom: 10px; }
      #about-content ul li:last-child {
        padding-bottom: 0; }

/*# sourceMappingURL=main.css.map */
