// style
#about {
    background-color: $background-lighter;
    padding-top: $baseline * 2;
    padding-bottom: $baseline * 2;

    .elm-logo {
        float: right;
        box-shadow: 0 0 $baseline*2 0 fade_out($background-color, .3);
        margin-left: $baseline;
    }
}