#about-hero {
    padding-top: $baseline * 4;
    padding-bottom: $baseline * 4;

    background: linear-gradient(
                        to bottom,
                        fade_out($header-color, .2),
                        fade_out($header-color, 1) 75%,
                        rgba(0,0,0,0));

    .elm-logo {
        float: left;
        margin-right: $baseline * 2;
    }

    h1 {
        padding-top: $baseline * 0.75;
    }
}

#about-content {
    padding-top: $baseline * 2;
    padding-bottom: $baseline * 2;
    background-color: $background-lighter;

    ul {
        padding-left: $baseline;
        list-style-type: disc;
        padding-bottom: $baseline;
        li {
            line-height: $baseline;
        }
    }
}