#about-hero {
    padding-top: $baseline * 7;
    padding-bottom: $baseline * 7;

    background-image: url("/images/backgrounds/about.jpg");
    background-position: center;
    background-size: cover;

    .elm-logo {
        float: left;
        margin-right: $baseline * 2;
    }
}

#about-content {
    padding-top: $baseline * 7;
    padding-bottom: $baseline * 7;
    background-color: $background-lighter;

    ul {
        padding-left: $baseline;
        list-style-type: disc;
        padding-bottom: $baseline;
        li {
            line-height: $baseline;
            padding-bottom: $baseline / 2;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}