// structure

// style
body {
    background: $background-color;
    color: $text-color;

    font-family: sans-serif;
}

a {
    color: $highlight-color;
}

p {
    line-height: $baseline;
    margin-bottom: $baseline;
}

h1, h2 {
    text-transform: uppercase;
}

.content {
    @include outer-container;
}

strong {
    font-weight: bold;
}

.solo {
    text-align: center;
    padding: $baseline*2 0;
    font-size: 1.1em;
    background-color: $background-lighter;
}