// structure

// style
body {
    background: $background-color;
}

.content {
    @include outer-container;
}

.solo {
    text-align: center;
    padding: $baseline*2 0;
    font-size: 1.1em;
    background-color: $background-lighter;

    header + & {
        background-color: $background-lightest;
    }
}