// style
a.button {
    text-decoration: none;
    padding: $baseline*0.5 $baseline * 2;
    text-transform: uppercase;
    border: 2px solid $button-color;
    letter-spacing: 0.05em;

    display: inline-block;
}

a.button + a.button {
    margin-left: $baseline;
}