// structure
#cfp > .content > * {
    @include shift(4 of 12);
}

// style
#cfp {
    padding-top: $baseline * 15;
    padding-bottom: $baseline * 15;
    background-color: $background-lightest;
    background-image: url("/images/backgrounds/cfp.jpg");
    background-size: cover;
}

#cfp-hero {
    background: linear-gradient(
                    to bottom,
                    fade_out($header-color, .2),
                    fade_out($header-color, 1) 75%,
                    rgba(0,0,0,0));
}