// structure
header {
    > nav {
        @include outer-container;

        .brand {
            @include span-columns(9);
        }

        ul {
            @include span-columns(3);

            li {
                @include span-columns(1 of 3);
            }
        }
    }

}

// style
header {
    background-color: $background-lighter;
    height: $baseline * 3;
    line-height: $baseline * 3;

    color: $text-color;
    a {
        color: $text-color;
        text-decoration: none;
    }

    > nav {
        > ul > li {
            text-align: center; 
        }
    }

    .brand {
        padding-top: 7px;
    }
}