// style
#hero {
	text-align: center;

	padding-top: $baseline * 2;
	padding-bottom: $baseline * 3;

	@include media($large-screen) {
		padding-top: $baseline * 9;
		padding-bottom: $baseline * 7;
	}

	background-image: url('/images/backgrounds/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	h1 > .conf-logo {
		margin: 0 auto $baseline auto;
		width: 90%;
		background-repeat:no-repeat;
		background-size:contain;
		background-position: center;
	}

	p {
		font-size: 1.3em;
		line-height: $baseline;
	}

	a.button {
		margin-bottom: $baseline;
	}
}
