// structure
@include media($large-screen) {
	#sponsors {
		h2, li {
			@include span-columns(2);
		}
	}
}

// style
#sponsors {
	background-color: $background-lightest;

	padding-top: $baseline * 3;
	padding-bottom: $baseline * 3;


	h2, li {
    line-height: $baseline * 3;
    justify-content: center;

		display: flex;
		@include media($large-screen) {
			display: inline;
		}
	}
  li {
    @include media($large-screen) {
      margin-right: $baseline * 2;
    }
  }
}

@include media($large-screen) {
    // height adjustments
    .logo-asteris {
        padding-top: 13px;
    }

    .logo-noredink {
        padding-top: 16px;
    }
}