// structure
@include media($large-screen) {
	#sponsors {
		h2 {
		}
    ul {
    }
	}
}

// style
#sponsors {
	background-color: $background-lightest;

	padding-top: $baseline * 3;
	@include media($large-screen) {
		padding-top: $baseline;
	}
	padding-bottom: $baseline * 3;

  ul {
      text-align: center;

      // vertical centering
      @include media($large-screen) {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      li {
          // mobile margins
          margin-bottom: $baseline * 2;
          &:last-child {
              margin-bottom: 0;
          }

          @include media($large-screen) {
              margin-right: $baseline * 2;
              margin-bottom: 0;
		      }

      }
  }

	h2 {
      line-height: 136px;
      text-align: center;
      @include media($large-screen) {
      }
	}
}
