// structure
.speaker {
	@include row;
}

@include media($large-screen) {
	#cfp-hero > .content > * {
		@include shift(4 of 12);
	}
}

// style
#cfp-hero {
	padding: $baseline * 3 2em;
	@include media($large-screen) {
		padding: $baseline * 7 2em;
	}

	background-color: $background-lightest;
	background-size: cover;

	background-image: none;
	@include media($large-screen) {
		background-image: url("/images/backgrounds/speakers.jpg");
	}

	a.button {
		margin-bottom: $baseline;
		display: block;

		@include media($large-screen) {
			display: inline-block;
		}
	}
}

.speaker {
	&:nth-child(odd) { background-color: $background-lighter; }
	&:nth-child(even) { background-color: $background-lightest; }

	padding: $baseline * 4 2em;

	img {
		max-width: 300px;
		max-height: 300px;
		border-radius: 150px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $baseline * 2;
		display: flex;

		@include media($large-screen) {
			float: left;
			margin-right: $baseline * 2;
		}
	}

	h2 {
		text-transform: none;
	}

	&.big {
		img {
			display: block;
			float: none;
			max-width: 300px;
			max-height: 300px;
			border-radius: 150px;

			margin-left: auto;
			margin-right: auto;
			margin-bottom: $baseline;
		}
	}
}
