// structure
@include media($large-screen) {
	.sponsor {
		@include row;

		.logo {
			@include span-columns(3);
		}

		.about-sponsor {
			@include span-columns(9);
		}
	}
}

// style
.sponsor {
	//&:nth-child(even) { background-color: $background-lighter; }
	//&:nth-child(odd) { background-color: $background-lightest; }
	background-color: $background-lightest;

	padding: $baseline * 3 2em;

	.logo {
		display: flex;
		justify-content: center;
		padding-top: $baseline * 1.5;
		padding-bottom: $baseline * 1.5;
	}
}
