body {
    font-family: sans-serif;

    font-size: 1.2em;
    line-height: 1.4em;

    color: $text-color;
}

a {
    color: $highlight-color;
    text-decoration: none;
}

p {
    margin-bottom: $baseline;
    letter-spacing: 1px;
}

h2 {
    letter-spacing: 2px;
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: $baseline / 2;
}

strong {
    font-weight: bold;
}
