@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);

body {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 1.2em;
    line-height: 1.4em;

    color: $text-color;
}

a {
    color: $highlight-color;
    text-decoration: none;
}

p {
    margin-bottom: $baseline;
    letter-spacing: 1px;

    &:last-child {
        margin-bottom: 0;
    }
}

h2 {
    letter-spacing: 2px;
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: $baseline / 2;
}

strong {
    font-weight: bold;
}
