// variables
$baseline: 20px;

// colors
$background-color: #313540;
$background-lighter: #5C6378;
$background-lightest: #7D8497;
$text-color: #FCFCFC;
$highlight-color: #81CF47;
$button-color: $highlight-color;
$header-color: #65B6CC;