{{partial "header.html" .}}
<section id="about-hero">
    <div class="content">
        <div class="elm-logo">Elm Logo</div>
        <h1>{{.Title}}</h1>
        <p>
            elm-conf is a one-day conference focusing on the Elm programming
            language and its libraries, colocated with <a
            href="https://www.thestrangeloop.com">Strange Loop</a>. It aims to be
            a welcoming place for people worldwide to meet one another and learn
            about what is happening with the language and community.
        </p>
        <p>
            <a class="button" href="{{.Site.Params.ticket_link}}">Buy Tickets</a>
        </p>
    </div>
</section>
<section id="about-content">
    <div class="content">
        {{.Content}}
    </div>
</section>
{{partial "footer.html" .}}
