{{partial "header.html" .}}
<section id="cfp-hero">
    <div class="content">
        <h2>Speakers</h2>
        <p>
            We have a full lineup of great speakers for elm-conf. We have a wide
            range of topics, from making music to diving to how Elm helps ADHD
            to using templates for easier maintenance. It's going to be quite a
            day!
        </p>

        <p>
            <a class="button" href="{{.Site.Params.ticket_link}}">Buy Tickets</a>
        </p>
    </div>
</section>
<section class="solo">
    <h2>Keynote Speaker</h2>
</section>
{{range where .Data.Pages "Type" "speaker"}}
{{if .Params.keynote}}
{{.Render "bigListItem"}}
{{end}}
{{end}}
<!-- TODO: uncomment this block when we have speakers
<section class="solo">
    <h2>Speakers</h2>
</section>
-->
{{range $i, $speaker := where .Data.Pages "Type" "speaker"}}
{{if not $speaker.Params.keynote}}
{{$speaker.Render "listItem"}}
{{end}}
{{end}}
{{partial "footer.html" .}}
