{{partial "header.html" .}}
<section id="cfp-hero">
    <div class="content">
        <h2>Call for Speakers</h2>
        <p>
            First, thanks for submitting a talk proposal! It’s people like you
            who will make this conference a wonderful experience. Important tip:
            because the talk submission process is anonymized, great proposals
            tend to be selected over big names.
        </p>
        <p>
            If it’s your first time proposing a talk, please don’t feel
            intimidated. We will have attendees of many different backgrounds
            and experience levels, and the speakers are no exception. Elm is a
            young language and this is its first conference, so everyone you
            meet will be an elm-conf newbie!
        </p>
        <p>
            Submissions will be open from {{.Site.Params.cfp_start}} to
            {{.Site.Params.cfp_end}}. We will be notifying all submitters of the
            results by {{.Site.Params.cfp_notify}}.
        </p>
        <p>
            <a class="button" href="{{.Site.Params.cfp_link}}">Submit a Talk</a>
        </p>
    </div>
</section>
<section id="speaker-extra">
    <div class="content">
        <div class="benefit">
            <h2>Selection Guidelines</h2>
            <p>
                While we don’t intend to give you strict instructions on your
                proposal, we will be using the following criteria to choose talks to
                accept:
            </p>
            <ul>
                <li>
                    What will the audience gain from this presentation?
                </li>
                <li>
                    How will this presentation help improve the Elm community and
                    ecosystem?
                </li>
                <li>
                    Is this presentation appropriate for intermediate or advanced
                    Elm users? (Introductory Elm talks are wonderful, but they can
                    already find a good home at many conferences. elm-conf is your
                    chance to present to people who already know Elm!)
                </li>
            </ul>
            <p>
                Keeping these questions in mind will help you write a great
                proposal.
            </p>
        </div>
        <div class="benefit">
            <h2>Code of Conduct</h2>
            <p>
                All attendees and speakers at elm-conf will be expected to follow
                <a href="http://thestrangeloop.com/policies.html">Strange Loop’s
                    Code of Conduct</a>
            </p>
            <h2>Talk Lengths</h2>
            <ul>
                <li>Full - 45 minutes</li>
                <li>Short - 20 minutes</li>
                <li>Lightning - 5 to 10 minutes</li>
            </ul>
            <h2>Travel Assistance</h2>
            <p>
                All speakers except lightning talks receive the following
                benefits:
            </p>

            <ul>
                <li>Free admission to elm-conf</li>
                <li>Free admission to Strange Loop</li>
                <li>Up to 4 nights of hotel</li>
                <li>US airfare or a $550 travel stipend for international speakers</li>
            </ul>
        </div>
    </div>
</section>
<section class="solo">
    <h2>Keynote Speaker</h2>
</section>
{{range where .Data.Pages "Type" "speaker"}}
{{if .Params.keynote}}
{{.Render "bigListItem"}}
{{end}}
{{end}}
<!-- TODO: uncomment this block when we have speakers
<section class="solo">
    <h2>Speakers</h2>
</section>
-->
{{range $i, $speaker := where .Data.Pages "Type" "speaker"}}
{{if not $speaker.Params.keynote}}
{{$speaker.Render "listItem"}}
{{end}}
{{end}}
{{partial "footer.html" .}}
