{{partial "header.html" .}}
<section id="hero">
    <div class="content">
        <h1><div class="conf-logo">elm-conf US 2016</div></h1>
        <p>{{.Site.Params.location}}</p>
        <p>{{.Site.Params.date}}</p>
        <p>
            <a class="button" href="/speaker/">Submit a Talk</a>
            <a class="button" href="{{.Site.Params.ticket_link}}">Buy Tickets</a>
        </p>
    </div>
</section>
<section id="about">
    <div class="content">
        <div class="elm-logo">Elm Logo</div>
        <h2>About</h2>
        <p>
            elm-conf is a one-day conference focusing on the Elm programming
            language and its libraries, colocated with <a
            href="https://www.thestrangeloop.com">StrangeLoop</a>. It aims to be
            a welcoming place for people worldwide to meet one another and learn
            about what is happening with the language and community.
        </p>
        <p>
            We are currently accepting <a href="/speaker/">talk proposals</a>.
            The proposal period is open {{.Site.Params.cfp_start}} through
            {{.Site.Params.cfp_end}}, and tickets will go on sale after speakers
            are announced.
        </p>
    </div>
</section>
<section id="cfp">
    <div class="content">
        <h2>Call for Speakers</h2>
        <p>
            If it's your first time proposing a talk, please don't feel intimidated.
            We will have attendees of many different backgrounds and experience
            levels, and the speakers are no exception. Elm is a young language and
            this is its first conference, so everyone you meet will be an elm-conf
            newbie!
        </p>

        <p>
            We will be contacting all submitters with the results of the process by
            {{.Site.Params.cfp_notify}}. We won't leave you hanging!
        </p>

        <p>
            <a class="button" href="/speaker/">Learn More</a>
            <a class="button" href="{{.Site.Params.cfp_link}}">Submit a Talk</a>
        </p>
    </div>
</section>
{{range where .Data.Pages "Type" "speaker"}}
{{if .Params.keynote}}
{{.Render "listItem"}}
{{end}}
{{end}}
<section id="sponsors">
    <div class="content">
        <h2>Sponsors</h2>
        <ul>
            {{range where .Data.Pages "Type" "sponsor"}}
            <li>{{.Render "logoSmall"}}</li>
            {{end}}
        </ul>
    </div>
</section>

{{partial "footer.html" .}}
