{{partial "header.html" .}}
<section id="hero">
    <div class="content">
        <h1><div class="conf-logo">elm-conf US 2016</div></h1>
        <p>{{.Site.Params.location}}</p>
        <p>{{.Site.Params.date}}</p>
        <div>
            <a class="button" href="{{.Site.Params.ticket_link}}">Buy Tickets</a>
        </div>
    </div>
</section>
<section id="about">
    <div class="content">
        <div class="elm-logo">Elm Logo</div>
        <h2>About</h2>
        <p>
            elm-conf is a one-day conference focusing on the Elm programming
            language and its libraries, colocated with <a
            href="https://www.thestrangeloop.com">Strange Loop</a>. It aims to be
            a welcoming place for people worldwide to meet one another and learn
            about what is happening with the language and community.
        </p>
    </div>
</section>
<section id="cfp">
    <div class="content">
        <h2>Speakers</h2>
        <p>
            We have a full lineup of great speakers for elm-conf. We have a wide
            range of topics, from making music to diving to how Elm helps ADHD
            to using templates for easier maintenance. It's going to be quite a
            day!
        </p>

        <p>
            <a class="button" href="/speaker/">View Speakers</a>
        </p>
    </div>
</section>
{{range $i, $speaker := sort (where .Data.Pages "Type" "speaker") "Params.slot"}}
{{.Render "listSummary"}}
{{end}}
<section id="sponsors">
    <div class="content">
			<h2>Root Sponsors [<a href="/sponsor">see all</a>]</h2>
      <ul>
				{{ range .Site.Taxonomies.sponsor_levels.root.Pages }}
					<li>{{.Render "logoSmall"}}</li>
				{{end}}
			</ul>
		</div>
</section>

{{partial "footer.html" .}}
