{{partial "header.html" .}}
<section id="hero">
    <div class="content">
        <h1><div class="conf-logo">elm-conf US 2016</div></h1>
        <p>{{.Site.Params.location}}</p>
        <p>{{.Site.Params.date}}</p>
        <div>
            <a class="button" href="{{.Site.Params.ticket_link}}">Buy Tickets</a>
        </div>
    </div>
</section>
<section id="about">
    <div class="content">
        <div class="elm-logo">Elm Logo</div>
        <h2>About</h2>
        <p>
            elm-conf is a one-day conference focusing on the Elm programming
            language and its libraries, colocated with <a
            href="https://www.thestrangeloop.com">Strange Loop</a>. It aims to be
            a welcoming place for people worldwide to meet one another and learn
            about what is happening with the language and community.
        </p>
        <p>
            We will announce the speaker list and schedule soon, stay tuned!
        </p>
    </div>
</section>
<section id="cfp">
    <div class="content">
        <h2>Speakers</h2>
        <p>
            We ran our call for presentations from {{.Site.Params.cfp_start}} to
            {{.Site.Params.cfp_end}} and got a list of wonderful submissions.
            We're going through them now to determine the final speaker list and
            schedule.
        </p>

        <p>
            We will be contacting all submitters with the results of the process by
            {{.Site.Params.cfp_notify}}. We won't leave you hanging!
        </p>

        <p>
            <a class="button" href="/speaker/">View Speakers</a>
        </p>
    </div>
</section>
{{range where .Data.Pages "Type" "speaker"}}
{{if .Params.keynote}}
{{.Render "listSummary"}}
{{end}}
{{end}}
{{range where .Data.Pages "Type" "speaker"}}
{{if not .Params.keynote}}
{{.Render "listSummary"}}
{{end}}
{{end}}
<section id="sponsors">
    <div class="content">
        <h2>Sponsors</h2>
        <ul>
            {{range where .Data.Pages "Type" "sponsor"}}
            <li>{{.Render "logoSmall"}}</li>
            {{end}}
        </ul>
    </div>
</section>

{{partial "footer.html" .}}
